@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  justify-content: center;
  background-color: #1b1b1b;      
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* HIDE SCROLLBAR BUT KEEP THE FUNCTIONALITY */
body::-webkit-scrollbar {
  display: none;
}

.app {
  min-height: 100vh;
}

.product_container {  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #8d5dd1;
  min-height: 60vh;
}

.products img {
  max-width: 60%;  
}

.person img {
  border-radius: 50%;
  width: 350px;
  height: 350px;  
}

#kevin {
  /* border: 5px solid cornsilk; */
  border-radius: 50%;
  width: 350px;
  height: 350px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;   
}

#bob {
  /* border: 5px solid cornsilk; */
  border-radius: 50%;
  width: 350px;
  height: 350px;
}

/* SHAKE ANIMATION*/
@keyframes shake {
  0% { transform: translate(3px, 3px) rotate(0deg); }
  10% { transform: translate(-3px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(3px, -3px) rotate(3deg); }
  50% { transform: translate(-3px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 3px) rotate(0deg); }
  70% { transform: translate(3px, 3px) rotate(-3deg); }
  80% { transform: translate(-3px, -3px) rotate(3deg); }
  90% { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* SEARCHBAR */
.searchbar input{
  background-color: white;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 350px;
  margin-bottom: 1rem;
}

/* BUTTONS */
#btn_top {  
  position: fixed; 
  bottom: 70px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 50%; 
  font-size: 25px; 
}

#btn_top:hover {
  background-color: #555; 
  transition: all 1s;
}

#btn_down {  
  position: fixed; 
  bottom: 15px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 50%; 
  font-size: 25px; 
}

#btn_down:hover {
  background-color: #555; 
  transition: all 1s;
}

#btn_show {
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 20px;
  margin: 0 2rem 2rem 2rem;
  border-radius: 10px; 
  font-size: 20px; 
  font-family: "Montserrat";
  font-weight: 900; 
 
}

#btn_show:hover {
  background-color: #555; 
  transition: all 1s;
}

input[type=range] {  
  width: 20%;
  margin: 1rem 0 0.5rem 0;
}

/* TEXT */
#prime  {
  transition: all 0.75s;
  -webkit-text-stroke: 3.5px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 4rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  cursor: default;  
  text-shadow: 
    10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,    
    25px 25px 10px #482896;
}

#prime:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none; 
}

.team_container {
  display: flex;
  flex-direction:column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 5rem 0;
  border: 3px solid #FFD55E; 
}

.team_container h1 {
  font-family: "Meta";
  font-size: 3.5rem;  
  color: white;
  transition: color 1.3s ease-in-out, box-shadow 1.3s ease-in-out;
  text-transform: uppercase;
  width: 100%;
}

.team_container h1:hover {
  box-shadow: inset 1000px 0 0 0 #FFD55E;
  color: white;
  cursor: default;  
  
}

.team_container,
.products h3 {
  font-style:italic;
  width: 100%;
}

.products h4 {
  font-size: 1.15rem;
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  width: 100%; 
}

h3 {
  font-size: 1.5rem;
  width: 100%;
}

