@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1b1b1b;      
  display: flex;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  
}

hr {
  margin: 2.5rem 0 2.5rem 0;
  width: 100vh;
}

h1 {
  transition: all 0.75s;
  -webkit-text-stroke: 5px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 
    10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,    
    25px 25px 10px #482896;
  cursor: pointer;
}

h1:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
  
}
