@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center; 
  background-color: #1b1b1b;      
  font-family: "Montserrat", sans-serif;
  color: white;
  
}

#joey {
  border: 5px solid cornsilk;
  border-radius: 50%;
  width: 300px;
  height: 300px;

}

#joey {  
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: none;
}

#bob {
  border: 5px solid cornsilk;
  border-radius: 50%;
  width: 300px;
  height: 300px;

}

.products {
  border: 3px solid #8d5dd1;
  margin-top: 5rem;

}

/* KEYFRAMES 

 #joey:hover {
  animation: shake 1s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  cursor: none;

}

 @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(50px, 0, 0);
  }
} */

/* SHAKE 2 */
@keyframes shake {
  0% { transform: translate(3px, 3px) rotate(0deg); }
  10% { transform: translate(-3px, -2px) rotate(-3deg); }
  20% { transform: translate(-3px, 0px) rotate(3deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(3px, -3px) rotate(3deg); }
  50% { transform: translate(-3px, 2px) rotate(-3deg); }
  60% { transform: translate(-3px, 3px) rotate(0deg); }
  70% { transform: translate(3px, 3px) rotate(-3deg); }
  80% { transform: translate(-3px, -3px) rotate(3deg); }
  90% { transform: translate(3px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* BUTTONS */
#btn_top {  
  position: fixed; 
  bottom: 70px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 50%; 
  font-size: 25px; 

}

#btn_top:hover {
  background-color: #555; 
  transition: all 1s;
}

#btn_down {  
  position: fixed; 
  bottom: 15px; 
  right: 20px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 50%; 
  font-size: 25px; 

}

#btn_down:hover {
  background-color: #555; 
  transition: all 1s;

}

#btn_show {
  border: none; 
  outline: none; 
  background-color: #8d5dd1;
  color: white; 
  cursor: pointer; 
  padding: 20px;
  margin: 10px 0 20px 0;
  border-radius: 10px; 
  font-size: 20px; 
  font-family: "Montserrat";
  font-weight: 900;
  
}

#btn_show:hover {
  background-color: #555; 
  transition: all 1s;

}

/* TEXT */
#title {
  transition: all 0.75s;
  -webkit-text-stroke: 3.5px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 5rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  cursor: default;
  text-shadow: 
    10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,    
    25px 25px 10px #482896;
}

#title:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none; 
}

h2 {
  font-size: 2.5rem; 
}

h3 {
  font-size: 1.5rem;
}

#ph1 {
  font-family: "Meta";
  font-size: 3.5rem;
  box-shadow: inset 0 0 0 0 #8d5dd1;
  color: #8d5dd1;  
  transition: color 1.3s ease-in-out, box-shadow 1.3s ease-in-out;
}
#ph1:hover {
  box-shadow: inset 1000px 0 0 0 #8d5dd1;
  color: white;
  
}